.project {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  width: 500px;
  height: 300px;
  border: 1px solid var(--text-color);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
}

.description {
  font-size: 1.1rem;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 10px;
}

.link {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 0 10px;
  cursor: pointer;
}

.icon {
  margin-right: 3px;
}

@media screen and (max-width: 1300px) {
  .project {
    width: 400px;
  }

  .imgContainer {
    width: 450px;
    height: 280px;
  }
}

@media screen and (max-width: 800px) {
  .project {
    width: 90%;
  }

  .imgContainer {
    width: 300px;
    height: 200px;
  }

  .img {
    height: 200px;
  }
}
