.projects {
  position: relative;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.header {
  padding-top: 40px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color);
}

.lDec {
  width: 300px;
  height: 430px;
  background-color: #57c1fc;
  border-radius: 50%;
  position: absolute;
  left: -220px;
  top: 50%;
  transform: translateY(-50%);
}

.lDec::before {
  content: '';
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #57c1fc;
  position: absolute;
  top: 80px;
  left: 320px;
}

.lDec::after {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #57c1fc;
  position: absolute;
  top: 350px;
  left: 280px;
}

.mDec {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(20deg);
  background-color: #fdfaeb;
  width: 730px;
  height: 640px;
  border-radius: 300px 500px 100px 250px;
}

.rDec {
  width: 180px;
  height: 8px;
  background-color: #ff6bf0;
  border-radius: 20px;
  position: absolute;
  right: -100px;
  top: 300px;
  transform: rotate(-25deg);
}

.rDec::before {
  content: '';
  width: 180px;
  height: 8px;
  background-color: #ff6bf0;
  border-radius: 20px;
  position: absolute;
  top: -30px;
}

.rDec::after {
  content: '';
  width: 180px;
  height: 8px;
  background-color: #ff6bf0;
  border-radius: 20px;
  position: absolute;
  top: 30px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.slider {
  position: relative;
  text-align: center;
}

.name {
  font-size: 2rem;
  color: white;
  text-shadow: 0px 0px 3px #000;
}

.active {
  color: var(--text-color);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.move {
  color: var(--text-color);
  font-size: 1.5rem;
}
