.projects {
  position: relative;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.header {
  padding-top: 40px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color);
}

.lDec {
  width: 300px;
  height: 430px;
  background-color: #57c1fc;
  border-radius: 50%;
  position: absolute;
  left: -220px;
  top: 50%;
  transform: translateY(-50%);
}

.lDec::before {
  content: '';
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #57c1fc;
  position: absolute;
  top: 80px;
  left: 320px;
}

.lDec::after {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #57c1fc;
  position: absolute;
  top: 350px;
  left: 280px;
}

.mDec {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(20deg);
  background-color: #fdfaeb;
  width: 730px;
  height: 640px;
  border-radius: 300px 500px 100px 250px;
}

.rDec {
  width: 180px;
  height: 8px;
  background-color: #ff6bf0;
  border-radius: 20px;
  position: absolute;
  right: -100px;
  top: 300px;
  transform: rotate(-25deg);
}

.rDec::before {
  content: '';
  width: 180px;
  height: 8px;
  background-color: #ff6bf0;
  border-radius: 20px;
  position: absolute;
  top: -30px;
}

.rDec::after {
  content: '';
  width: 180px;
  height: 8px;
  background-color: #ff6bf0;
  border-radius: 20px;
  position: absolute;
  top: 30px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.slider {
  position: relative;
  text-align: center;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0px 0px 3px #000;
  cursor: pointer;
  transition: 0.2s;
}

.name:hover {
  text-shadow: 0px 0px 5px #000;
}

.active {
  color: var(--text-color);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.move {
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .header {
    padding-top: 20px;
    font-size: 2.5rem;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
  }

  .slider {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .name {
    font-size: 1.4rem;
    margin: 0 10px;
  }

  .move {
    transform: rotate(-90deg);
  }

  .mDec {
    display: none;
  }

  .lDec {
    width: 120px;
    height: 160px;
    top: 80%;
    left: -100px;
  }

  .lDec::before {
    width: 35px;
    height: 35px;
    top: 10px;
    left: 125px;
  }

  .lDec::after {
    width: 15px;
    height: 15px;
    top: 120px;
    left: 120px;
  }

  .rDec {
    top: 90px;
    right: -130px;
  }
}
